﻿<environment>
    <link rel="stylesheet" href="~/css/DashboardView.css" /> 
</environment>

@model List<User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div id="container">
        <form asp-controller="Users" asp-action="AddGet" method="get">
            <input type="submit" value="Add new user">
        </form>

        <form asp-controller="Users" asp-action="GetByRole" method="get">
            <label for="role">Search by role:</label>
            <input name="role" type="text" />
            <input type="submit" value="Search" />
        </form>

        <form asp-controller="Users" asp-action="GetByName" method="get" style="display: block">
            <label for="name">Search by name:</label>
            <input name="name" type="text" />
            <input type="submit" value="Search" />
        </form>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Age</th>
                    <th>Role</th>
                    <th>Profile</th>
                    <th>Email</th>
                    <th>Webpage</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model) {
                    <tr>
                        <td>@user.name</td>
                        <td>@user.username</td>
                        <td>@user.password</td>
                        <td>@user.age</td>
                        <td>@user.role</td>
                        <td>@user.profile</td>
                        <td>@user.email</td>
                        <td>@user.webpage</td>
                        <td>
                            <form asp-controller="Users" asp-action="UpdateGet" method="get" asp-route-id="@user.id">
                                <input type="submit" value="Update">
                            </form>
                            <form asp-controller="Users" asp-action="Delete" method="post" asp-route-id="@user.id"
                                  onclick="return confirm('Are you sure you want to delete?')">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
</body>
</html>