﻿@model User

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#update-form').validate({
                rules: {
                    name: {
                        required: true
                    },
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    },
                    age: {
                        required: true
                    },
                    role: {
                        required: true
                    },
                    profile: {
                        required: true
                    },
                    email: {
                        required: true
                    },
                    webpage: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "Please enter a name"
                    },
                    username: {
                        required: "Please enter a username"
                    },
                    password: {
                        required: "Please enter a password"
                    },
                    age: {
                        required: "Please enter an age"
                    },
                    role: {
                        required: "Please enter a role"
                    },
                    profile: {
                        required: "Please enter a profile"
                    },
                    email: {
                        required: "Please enter an email"
                    },
                    webpage: {
                        required: "Please enter a webpage"
                    },
                }
            });

        });
    </script>
}

<form id="update-form" asp-controller="Users" asp-action="UpdatePost" method="post">
    <label for="name">Name:</label>
    <input name="name" type="text" value="@Model.name" />
    <br>

    <label for="username">Userame:</label>
    <input name="username" type="text" value="@Model.username" />
    <br>

    <label for="password">Password:</label>
    <input name="password" type="text" value="@Model.password" />
    <br>

    <label for="age">Age:</label>
    <input name="age" type="text" value="@Model.age" />
    <br>

    <label for="role">Role:</label>
    <input name="role" type="text" value="@Model.role" />
    <br>

    <label for="profile">Profile:</label>
    <input name="profile" type="text" value="@Model.profile" />
    <br>

    <label for="email">Email:</label>
    <input name="email" type="text" value="@Model.email" />
    <br>

    <label for="webpage">Webpage:</label>
    <input name="webpage" type="text" value="@Model.webpage" />
    <br>

    <input type="submit" value="Update" />
</form>