table, th, td {
    border: 1px solid black;
}

table {
    /*collapses multiple borders (eg: table + td) into a single border*/
    border-collapse: collapse;
}

td {
    text-align: center;
}

td img {
    opacity: 0.9;
    /*block elements display one after the other, as paragraphs do*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    opacity: 1;
}