#rainbow {
    margin-top: 50px;
}

#left-rainbow, #right-rainbow {
    display: inline;
    text-align: center;
    color: cyan;
}

#left-rainbow {
    /*
    percentage shows how much of the container's size you want that color to have
    in our case, red and orange have 40% and yellow 20% of the left rainbow's width
    */
    /*Safari, Chrome support*/
    background-image: -webkit-linear-gradient(to right, red 0%, orange 40%, yellow 80%);
    /*Mozilla support*/
    background-image: -moz-linear-gradient(to right, red 0%, orange 40%, yellow 80%);
    transform: rotate(-2deg);
    /*3 colors out of 7 = 42%*/
    width: 42%;
}

#right-rainbow {
    /*those percentages are by default as each color has same width; added them for practice*/
    background-image: -webkit-linear-gradient(to right, yellow 0%, green 20%, blue 40%, indigo 60%, violet 80%);
    background-image: -moz-linear-gradient(to right, yellow 0%, green 20%, blue 40%, indigo 60%, violet 80%);
    transform: rotate(1.5deg);
    /*4 colors out of 7 = 58%*/
    width: 58%;
}