<h2>Hello {{username}}</h2>
<div id="container" *ngIf="website">
  <label for="url-input">Give new url: </label>
  <input type="text" id="url-input" value="{{website.url}}" ><br><br>

  <input id="submit" type="submit" value="Update entity" (click)="updateEntity()">
</div>

<form action="http://localhost/projects/ExamPHPAngular/backend/update-entity.php" method="post">
  <input type="hidden" name="id" value="{{website.id}}" >

  <label for="url-input">Give new url: </label>
  <input type="text" id="url-form" name="url" value="{{website.url}}" ><br><br>

  <input type="submit" value="Update entity form">
</form>
