#container {
    height: 80rem;
}

#desktop-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.desktop {
    top: 0;
    right: 0;
    position: absolute;

    height: 100%;
    width: 0;
    left: -100%;

    text-align: center;
    font-size: 5rem;
}

#desktop-1 {
    left: 0;
    width: 100%;
    position: relative;
    background-color: darkred;
}

#desktop-2 {
    background-color: darkorange;
}

#desktop-3 {
    background-color: yellow;
}

#desktop-4 {
    background-color: darkgreen;
}