
<div id="container">
  <label for="url-input">Give new url: </label>
  <input type="text" id="url-input" ><br><br>

  <input id="submit" type="submit" value="Create entity" (click)="createEntity()">
</div>

<form action="http://localhost/projects/ExamPHPAngular/backend/create-entity.php" method="post">
  <label for="url-input">Give new url: </label>
  <input type="text" id="url-form" name="url" ><br><br>

  <input type="submit" value="Create entity form">
</form>
