body {
    margin-top: 0;
}

#container {
    position: relative;
    display: block;
    height: 100rem;
}

#menu {
    height: 3rem;
    background-color: lightblue;
}

.menu-button {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    background-color: inherit;
    text-align: center;
    font-weight: bold;
}

.menu-item {
    float: left;
    height: 100%;
}

#categories-item {
    /*used because the content is floated*/
    overflow: hidden;
    width: 8rem;
}

.show {
    display: block;
}

.dropdown-content {
    min-height: 6rem;
    display: none;
    overflow: hidden;
    position: absolute;
    background-color: #f1f1f1;
    width: 10rem;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* menu height - in order to be under it*/
    top: 3rem;
}

.dropdown-button {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    background-color: inherit;
    text-align: left;
    font-weight: bold;
}

.dropdown-item-content {
    /* as much as the menu so the submenu items can be clicked */
    min-height: 6rem;
    display: none;
    position: absolute;
    left: 10.1rem;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    float: left;
}

.dropdown-item-content a {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    text-decoration: none;
    color: black;
}