body {
    height: 100%;
    margin: 0 0;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

#container {
    display: block;
    height: 90rem;
}

.navbar {
    font-size: 0.9rem;
    font-family: inherit;
    width: 100%;
    height: 5rem;
    margin: 0 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
    /*background-color: wheat;*/
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

#udemy-home {
    top: 50%;
    color: #3c3b37;
    text-align: center;
    text-decoration: none;
    /*background-color: cyan;*/
    /*margin-left: 0.8rem;*/
    /*margin-top: 1.5rem;*/
    /*margin-right: 1rem;*/
    padding: 1.4rem 0.5rem;
}

#udemy-image {
    display: block;
    margin: auto;
}

.item {
    float: left;
}

.text-item {
    padding: 1.8rem 0.5rem;
}

.sub-item-text {
    display: inline-block;
    padding-right: 80px;
}

#icon-next {
    display: inline-block;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 0.9rem;
    color: #3c3b37;
    border: none;
    outline: none;
    /*padding: 14px 16px;*/
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: relative;
}

/*.item:hover button {
    color: #0f7c90;
}*/

.dropdown-content {
    display: none;
    margin-top: 25px;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    color: #3c3b37;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    /*display: block;*/
    text-align: left;
    display: flex;
    /*align-items: flex-start;*/
}

/*.dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
    !*margin-top: 2rem;*!
}*/

.unstyled-list {
    list-style: none;
    padding-left: 0;
}

#icon-next {
    display: inline-block;
    width: 20px;
    height: 20px;
    /*margin: auto;*/
    margin: auto 0 auto auto;
}

.dropdown-content li {
    padding: 0;
    display: flex;
}

#search-item {
    flex-grow: 2;
    height: 100%;
    width: 45%;
}

#search-input {
    float: left;
    width: 98%;
    height: 2.8rem;
    text-indent: 3rem;
    border-radius: 28px;
    border: 1px #989586 solid;
    display: block;
    margin: 1rem auto auto;
    background-color: #fbfbf8;
}

#icon-search {
    position: absolute;
    margin: 1.8rem auto auto 0.7rem;
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#icon-cart {
    width: 2rem;
    padding: 1.4rem 1rem;
    fill: #73726c;
}

#login-button {
    background-color: transparent;
    border: 1px solid #2896a9;
    color: #0f7c90;
}

#signup-button {
    height: 2.5rem;
    width: 6rem;
    border-radius: 4px;
    background-color: #0f7c90;    border: 1px solid #2896a9;
    color: #fff;
    font-weight: bold;
}

.account-button {
    height: 2.5rem;
    width: 6rem;
    border-radius: 4px;
    font-weight: bold;
}

.account-item {
    padding: 1.2rem 0.5rem;
}

#top-container {
    margin-top: 5rem;
    padding-top: 2.3rem;
    height: 20%;
    padding-bottom: 3.2rem;
    background-color: #1e1e1c;
}

#top-container-content {
    position: relative;
    margin-left: 14%;
    /*left: 20%;*/
    /*transform: translateX(-20%);*/
    width: 700px;
    margin-right: 40%;
    color: #fff;
    height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.header-link {
    color: #8ed1dc;
    text-decoration: none;
}

#top-container-content #icon-next {
    fill: #fff;
}

#top-container-content .title {
    padding-top: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    /*color: #fff;*/
}

.main-description {
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

#top-container-content .stats {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

#top-container-content .stats span {
    color: #ffc48c;
    font-weight: bold;
}

#top-container-content .stats svg {
    fill: #ffc48c;
}

#top-container-content .author {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

#top-container-content .author a {
    text-decoration: underline;
    color: #8ed1dc;
}

#top-container-content .meta-info {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

#top-container-content .meta-info svg {
    fill: #fff;
}

#top-container-content .meta-info a {
    color: #fff;;
}

#top-container-content button {
    padding: 0 1.2rem;
    margin-top: 1rem;
    margin-right: 0.2rem;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    height: 2.4rem;
}

#top-container-content button svg {
    fill: #fff;
    stroke-width: 2px;
}

#bottom-container {
    /*margin-left: 6%;*/
    padding-top: 2.2rem;
    height: 50%;
    width: 100%;
}

#bottom-container-content {
    height: 100%;
    width: 700px;
    margin-left: 14%;
    /*margin-right: 60%;*/
    border: 1px solid #dcdacb;
    border-radius: 4px;
    background-color: #fbfbf8;
    color: #3c3b37;
}

#bottom-container-content svg {
    width: 14px;
    height: 14px;
}

#bottom-container-content .header h2 {
    margin: 1.4rem 2.5rem 1.6rem;
}

#bottom-container-content .objective {
    width: 40%;
    float: left;
    padding-top: 0.4rem;
    padding-left: 2.6rem;
}

#bottom-container-content .objective svg {
    float: left;
}

#bottom-container-content .objective span {
    margin-left: 2rem;
    margin-top: -1.1rem;
    text-align: left;
    display: inline-block;
    float: left;
}

#floating-container {
    margin-left: 60rem;
    width: 20rem;
    height: 50rem;
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #dcdacb;
    box-sizing: border-box;
    /* no idea why it's an error, but it works */
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    border-radius: 4px;
    background-color: #fff;
}















