﻿@model String

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#login-form').validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 5
                    },
                    password: {
                        required: true,
                        minlength: 5
                    }
                },
                messages: {
                    username: {
                        required: "Please enter a username",
                        minlength: "Username must be at least 5 characters long"
                    },
                    password: {
                        required: "Please enter a password",
                        minlength: "Password must be at least 5 characters long"
                    }
                }
            });

        });
    </script>
}

<form id="login-form" asp-controller="Account" asp-action="LoginPost" method="post">
    <label for="username">Userame:</label>
    <input name="username" type="text" />
    <br>

    <label for="password">Password:</label>
    <input name="password" type="password" />
    <br>

    <input type="submit" value="Login" />

    <div id="login-error">
        @Model
    </div>
</form>