<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/websites">Websites</a>
  <a routerLink="/create-website">Create website</a>
  <a routerLink="/logout">Logout</a>
</nav>

<router-outlet></router-outlet>

