<!--<label for="username-input">Username:</label>-->
<!--<input id="username-input" type="text" [(ngModel)]="username">-->
<!--<input type="submit" value="Login" (click)="login()">-->

<form [formGroup]="loginForm" >
  <label for="username-form">Username: </label>
  <input id="username-form" type="text" formControlName="username">

  <button (click)="login()">Login</button>
</form>
