
<h4>Hello {{username}}</h4>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let website of websites; let i = index">
      <td>{{website.id}}</td>
      <td>{{website.url}}</td>
      <td>
<!--        <a [routerLink]="['/update', website.id]">Update</a>-->
        <input type="submit" value="Update" [routerLink]="['/update', website.id]">
      </td>
      <td>
          <button (click)="delete(website.id)">Delete</button>

<!--        <form action="http://localhost/projects/ExamPHPAngular/backend/delete-entity.php" method="post"-->
<!--              onsubmit="return confirm('Confirm deletion?');">-->
<!--          <input type="hidden" name="id" value="{{website.id}}" />-->
<!--          <input type="submit" value="Delete" />-->
<!--        </form>-->
      </td>
    </tr>
  </tbody>
</table>
