.top {
    width: 100%;
    height: 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #ffffff, #000000, #ffffff);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #ffffff, #000000, #ffffff);

}
.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    width: 100%;
    height: 60;
    /*background-repeat: repeat-x;*/
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgba(30,100,255,0.85), rgba(140,175,255,0));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(30,100,255,0.85), rgba(140,175,255,0));
    text-align: center;
    padding-top: 10px;
}
.separation {
    width: 100%;
    height: 1;
    /*background-color: #000000;*/
    margin-top: 20;
    margin-bottom: 20;
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,200,1), rgba(0,0,0,0));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,200,1), rgba(0,0,0,0));
}
.spantitle {
    font-family: serif;
    font-weight: 600;
    font-size: 250%;
    color: #ededfe;
    text-shadow:2px 2px 4px #000000;
}
.leftdiv {
    width: 20%;
    /*height: 80%;*/
    float: left;
    padding-left: 10px;
    margin: 0px;
}
.bodydiv {
    width: 35%;
    /*height: 80%;*/
    padding-left: 20px;
    float: left;   	 
    /*background-color: #ff0033;*/
    background-color: lightblue;
    margin-left: 1px;
    margin-right: 1px;
    text-align: justify;
}

.bodydiv2 {
    width: 35%;
    /*height: 80%;*/
    padding-left: 20px;
    float: left;     
    /*background-color: #ff0033;*/
    background-color: lightgreen;
    margin-left: 1px;
    margin-right: 1px;
    text-align: justify;
}
ul {
    list-style-type: none;
    display: inline;
}
li {
    color: #220077;
    padding: 2px;
    margin-right: 10px;
    border-bottom: #bbbbbb solid 1px;
}
hr {
    border: 0px none;
    height: 80%;
    width: 1px;
    margin: 0px;
    float: left;
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,200,1), rgba(0,0,0,0));
                	/* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,200,1), rgba(0,0,0,0));

}
